.gold {
    background-color: #809bce;
}

.silver {
    background-color: #95b8d1;
}

.bronze {
    background-color: #d6eadf;
}
  
.fourth {
    background-color: #eac4d5;
}

.bar-chart {
    display: flex;
    align-items: flex-end;
    height: 200px;
}

.bar-house {
    width: 30%;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    margin-right: 10px;
}

.place-label {
    font-weight: bold;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.leaderboard-text{
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: #2b275c;
}

.user-text{
    text-align: center;
    color:#95b8d1;
    font-weight: bold;
}

.black-text{
    color: black;
    font-weight: normal;
}

.table tr.color-table {
    background: #eac4d5;
  }

  .circle-first-podium {
    display: inline-block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #809bce;
    font-weight: bold;
    font-size: small;
  }

.circle-second-podium {
    display: inline-block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #95b8d1;
    font-weight: bold;
    font-size: small;
}

.circle-third-podium {
    display: inline-block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #d6eadf;
    font-weight: bold;
    font-size: small;
}

.circle-fourth-podium {
    display: inline-block;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #eac4d5;
    font-weight: bold;
    font-size: small;
}

.scores-rectangle{
    width: 50px;
    background-color: #FAF2E8;
    font-size: small;
}