.shadow-header{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.22);
  }

.padding{
    padding-top: 20px;
}

.b-padding{
    padding-bottom: 20px;
}

.t-padding{
    padding-top: 10px;
}

.home-button{
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 7px;
    border-style: solid;
    border-width: 7px;
    border-color: var(--primary-color);
    padding: .5rem 1rem;
    font-family: 'Montserrat', sans-serif;
    min-width: 200px;
    min-height: 200px;
    text-decoration: none;
    font-weight: medium;
}

.base .button-clear-big{
    background: transparent;
    color: #2b275c;
    width: 100px;
    border: none;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--primary-color);
    padding: .5rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    min-width: 10rem;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

.base .button-clear-big:hover{
    color: var(--primary-color-light);
    border-color: var(--primary-color-light);
}

.base .button{
    background: var(--primary-color);
    color: white;
    width: 100px;
    border: none;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--primary-color);
    padding: .5rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    min-width: 10rem;
    text-decoration: none;
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    display: inline-block;
    margin-bottom: 20px;
}

.base .button:hover{
    background: var(--primary-color-light);
    color: white;
    width: 100px;
    border: none;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--primary-color-light);
    padding: .5rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    min-width: 10rem;
    -webkit-transition: background 1s cubic-bezier(0,.72,.21,1);
    -o-transition: background 1s cubic-bezier(0,.72,.21,1);
    transition: background 1s cubic-bezier(0,.72,.21,1);
    display: inline-block;
    margin-bottom: 20px;
}

.top-section{
    padding: 20px 0 50px 0;

}

.page-title{
    font-size: 60px;
    font-family: 'RobotoBold', sans-serif;
}

.sizing{
    font-size: 1vw;;
}

.page-title span{
    color: var(--primary-color);
    font-family: 'RobotoBold', sans-serif;
}

.page-split{
    padding: 30px;
    color: var(--primary-color);
    border-radius: 1em 1em 1em 1em;
    background-color: #e7e7f7;
}

.image-section{
    padding: 50px;
}

.results-section{
    background-color: #f6efe7;
    padding: 75px;
    text-align: center;
}

.section-title{
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 25px;
}

.rounded-corner{
    border-radius: 5em 0 5em 0;
}

.home-testimonial{
    background-color: #fff;
    height: 380px;
    padding-top: 50px;
}

.home-testimonial-bottom{
    background-color: var(--primary-color);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 20px;
    margin-bottom: 0px;
    position: relative;
    height: 120px;
    top: 190px;
}

.home-testimonial h3{
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.home-testimonial h2{
    color: black;
    font-size: 28px;
    font-weight: 700;
}

.testimonial-inner{
    position: relative;
    top: -174px;
}

.testimonial-pos{
    position: relative;
    top: 24px;
}

.testimonial-inner .tour-desc{
    border-radius: 5px;
    padding: 40px;
}

.testimonial-position{
    position: relative;
}

.bg-beige{
    background-color: #f6efe7;
}

.color-blue{
    color: var(--primary-color);
}

.testimonial-inner img.tm-people{
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: none;
}

.link-name{
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    color: black;
}

.link-position{
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    color: var(--primary-color);
}

.final-section{
    padding: 175px 55px 75px 55px;
}

.colourful-block{
    background-color: #e7e7f7;
    padding: 100px;
    border-radius: 5em 5em 5em 5em;
}

.cta-block-title{
    padding-bottom: 35px;
    font-size: 30px;
}

.card{
    background-color: transparent;
    border-color: transparent;
    width: 500px;
}

.card-img-overlay{
    padding-top: 50px;
}
