*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --body-color: #fff;
    --top-menu-color: #fff;
    --primary-color: #2b275c;
    --primary-color-light: #8282dc;
    --secondary-color: #f6efe7;
    --secondary-color-light: #2b275c;
    --side-menu-color: #2b275c;
    --border-color: #8FC5E9;

}

body{
    background: var(--body-color);
    margin-top: 70px;
}

@font-face {
    font-family: 'RobotoBold';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

.padding{
    padding-top: 20px;
}

.top-section{
    padding: 20px 0 50px 0;

}

.rounded-corner{
    border-radius: 5em 0 5em 0;
}

.card{
    background-color: transparent;
    border-color: transparent;
    width: 500px;
}

.base header{
    z-index: 2;
    background: var(--top-menu-color);
    position: fixed;
    width: calc(100% - 0%);
    height: 70px;
    display: flex;
    top: 0;
}
  
.base header .top-menu{
    width: calc(100% - 0%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.base header .top-menu .title{
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
}
  
.base header .top-menu .title span{
    color: var(--primary-color);
}
  
.base header .top-menu ul{
    display: flex;
}
  
.base header .top-menu ul li .logged-in-items{
    background: var(--body-color);
    color: black;
    display: block;
    margin: 0 10px;
    font-size: 18px;
    width: 34px;
    height: 34px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    transition-property: background, color;
}

.base header .top-menu ul li .logged-in-items:hover{
    background: var(--primary-color-light);
    color: var(--body-color);
}


.base header .top-menu ul li .logged-out-items{
    background: var(--primary-color);
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: var(--primary-color);
	margin-left: 30px;
	border-radius: 7px;
	font-weight: 400;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}

.base header .top-menu ul li .logged-out-items-clear{
    background: white;
    color: var(--primary-color);
    border-style: solid;
    border-width: 2px;
    border-color: var(--primary-color);
	margin-left: 30px;
	border-radius: 7px;
	font-weight: 400;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}

.base header .top-menu ul li .logged-out-items:hover{
    background: var(--primary-color-light);
    color: var(--body-color);
    border-style: solid;
    border-width: 2px;
    border-color: var(--primary-color-light);
    -webkit-transition: background 1s cubic-bezier(0,.72,.21,1);
    -o-transition: background 1s cubic-bezier(0,.72,.21,1);
    transition: background 1s cubic-bezier(0,.72,.21,1);
}

.base header .top-menu ul li .logged-out-items-clear:hover{
    color: var(--primary-color-light);
    border-color: var(--primary-color-light);
}
  
.base .side-menu{
    z-index: 1;
    background: var(--side-menu-color);
    position: fixed;
    top: 70px;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto;
}
  
.base .side-menu .menu .item{
    width: 250px;
    overflow: hidden;
}
  
.base .side-menu .menu .item .menu-btn{
    display: block;
    color: var(--body-color);
    position: relative;
    padding: 25px 20px;
    transition: 0.3s;
    transition-property: color;
    text-decoration: none;
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}
  
.base .side-menu .menu .item .menu-btn:hover{
    color: var(--primary-color-light);
    text-decoration: none;
}
  
.base .side-menu .menu .item .menu-btn i{
    margin-right: 20px;
}
  
.base .side-menu .menu .item .menu-btn .drop-down{
    float: right;
    font-size: 12px;
    margin-top: 3px;
}
  
.base .side-menu .menu .item .sub-menu{
    background: var(--primary-color);
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
    transition-property: background, max-height;
    text-decoration: none;
}

.base .side-menu .menu .item .sub-menu a.sub-item{
    background: var(--primary-color-light);
    text-decoration: none;
}
  
.base .side-menu .menu .item .sub-menu a{
    display: block;
    position: relative;
    color: var(--body-color);
    white-space: nowrap;
    font-size: 15px;
    padding: 20px;
    transition: 0.3s;
    transition-property: background;
    text-decoration: none;
}
  
.base .side-menu .menu .item .sub-menu a:hover{
    background: var(--primary-color-light)
}
  
.base .side-menu .menu .item .sub-menu a:not(last-child){
    border-bottom: 1px solid var(--border-color)
}

.base .side-menu .menu .item .sub-menu i{
    padding-right: 20px;
    font-size: 10px;
}
  
.base .side-menu .menu .item:target .sub-menu{
    max-height: 500px;
}

/* Notification Styles */

#notification-item {
    width: 20rem;
    white-space: normal;
    padding-left: 6px;
}

#notification-item p {
    margin-bottom: 0.3rem;
}

#notification-timestamp{
    margin-top: 2px;
    font-size: small;
    color: grey
}

.notification .badge {
    position: absolute;
    top: -8px;
    right: -5x;
    padding: 5px 7px;
    border-radius: 50%;
    background-color: red;
    color: white;
  }

  /* Link used: https://stackoverflow.com/questions/68241427/how-to-make-a-scrollable-dropdown-menu-in-bootstrap-5 */
#scrollable-menu {
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 150px);
  }

/* Links used: */
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_hover */
/* https://stackoverflow.com/questions/33911049/btn-xs-no-longer-a-valid-option-in-bootstrap-4 */
#pagination-button{
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
    transition-duration: 0.4s;
    border: 2px solid #e7e7e7;
    color: black
}

#pagination-button:hover{
    background-color: #e7e7e7;
}

.base .button{
    background: var(--primary-color);
    color: white;
    width: 100px;
    border: none;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--primary-color);
    padding: .5rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    min-width: 7rem;
    margin-left: 20px;
    text-decoration: none;
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  }

  .base .button-clear{
    background: transparent;
    color: var(--primary-color);
    border-style: solid;
    border-width: 2px;
    border-color: var(--primary-color);
	margin-left: 30px;
	border-radius: 7px;
	font-weight: 400;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
  }

  .base .button:hover{
    background: var(--primary-color-light);
    color: white;
    width: 100px;
    border: none;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--primary-color-light);
    padding: .5rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    min-width: 7rem;
    margin-left: 20px;
    -webkit-transition: background 1s cubic-bezier(0,.72,.21,1);
    -o-transition: background 1s cubic-bezier(0,.72,.21,1);
    transition: background 1s cubic-bezier(0,.72,.21,1);
  }

  .base .button-clear:hover{
    color: var(--primary-color-light);
    border-color: var(--primary-color-light);
}
  
.base .main-container{
    width: (100% - 250px);
    background: var(--body-color);
    margin-top: 70px;
    margin-left: 250px;
    padding: 15px;
    height: 100vh;
}

#category-header {
    font-size: 1.75rem;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

#category-header button{
    float: right;
}

.base header .top-menu .collapse-btn{
    color: var(--primary-color);
    position: absolute;
    margin-left: 280px;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
}
  
.base header .top-menu .collapse-btn:hover{
    color: var(--primary-color-light);
}

.base.nav-collapse .side-menu{
    width: 70px;
}

.base.nav-collapse .side-menu a span{
    display: none;
}
  
.base.nav-collapse .side-menu .menu .item .menu-btn{
    font-size: 23px;
}

.base.nav-collapse .side-menu .menu .item .sub-menu i{
    font-size: 18px;
    padding-left: 3px;
}
  
.base.nav-collapse .main-container{
    width: calc(100% - 70px);
    margin-left: 70px;
}

.user-card-full {
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
}

.m-b-25 {
    margin-bottom: 25px;
}

h6 {
    font-size: 14px;
}

@media only screen and (min-width: 1400px){
p {
    font-size: 14px;
}
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.f-s {
    font-size: x-large;
}

.f-s-s {
    font-size: larger;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.b-p {
    padding: 0 30px 30px 0px;
}

.text-p{
    padding: 50px;
}

.form-p{
    padding: 80px 60px 0 0;
}

.button-sm-clear{
    background: transparent;
    color: var(--primary-color);
    border-style: solid;
    border-width: 2px;
    border-color: var(--primary-color);
	margin-left: 20px;
	border-radius: 7px;
	font-weight: 400;
    height: 40px;
    width: 110px;
	text-decoration: none;
	padding: 0rem 1rem;
	line-height: 2.3;
}

.button-sm-clear:hover{
    background: transparent;
    color: var(--primary-color-light);
    border-style: solid;
    border-width: 2px;
    border-color: var(--primary-color-light);
	margin-left: 20px;
	border-radius: 7px;
	font-weight: 400;
    height: 40px;
    width: 110px;
	text-decoration: none;
	padding: 0rem 1rem;
	line-height: 2.3;
}

.round-container{
    display:inline-block;
    margin-left:70px;
    margin-top: 10px;
  }

.progress-bar{
    background-color: var(--primary-color-light);
}

.m-l-80{
    margin-left: 80px;
}

.m-l-120{
    margin-left: 120px;
}

.m-l-270{
    margin-left: 270px;
}

.card-background{
    background: #f6efe7;
}

.card-border{
    border-style: solid;
    border-color: var(--primary-color);
}

.m-b-40{
    margin-bottom: 35px;
}

.m-l-70{
    margin-left: 70px;
}

.m-b-15{
    margin-bottom: 15px;
}

.m-l-20{
    margin-left: 20px;
}

.m-l-330{
    margin-left: 330px;
}

.padding-chart{
    padding: 30px 0 30px 0;
}

.padding-hr{
    padding-top: 12px;
}

.btn-purple{
    color: var(--primary-color-light);
    text-decoration: none;
}

.btn-purple:hover{
    text-decoration: underline;
}

.btn-border{
    border-radius: 20%;
    border-color: var(--primary-color);
}

.dropdown-item:hover{
    background-color: #f6efe7;
    color: black;
}

.base .button-blue{
    background: var(--primary-color);
    color: white;
    width: 100px;
    border: none;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--primary-color);
    padding: .5rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    min-width: 7rem;
    text-decoration: none;
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
}

.base .button-blue:hover{
    background: var(--primary-color-light);
    color: white;
    width: 100px;
    border: none;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--primary-color-light);
    padding: .5rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    min-width: 7rem;
    -webkit-transition: background 1s cubic-bezier(0,.72,.21,1);
    -o-transition: background 1s cubic-bezier(0,.72,.21,1);
    transition: background 1s cubic-bezier(0,.72,.21,1);
}