<style>
  .podium {
    height: 20%;
    width: 20%;
    text-align: center;
    margin: 0px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-block;
    vertical-align: bottom;
  }

  .gold {
    background-color: gold;
    height: 300px;
  }

  .silver {
    background-color: silver;
    height: 250px;
  }

  .bronze {
    background-color: #cd7f32;
    height: 200px;
  }
  
  .fourth {
    background-color: #999;
    height: 150px;
  }
  
</style>

  <div class="leaderboard">
    
    
  </div>


  <div class="container mt-2">
    <div class="row">
        <div class="col-sm-6">
            <div class="card border">
                <div class="card-body">
                    <div class="bar-chart">
                      <div class="bar second" id="first-house-bar">
                          <div class="bar-label"><span style="font-weight: 600;">2nd</span><br>{{houses.1.name}}</div>
                          <div class="bar-number" id="first-house-points">{{houses.1.points}}</div>
                      </div> 
                      <div class="bar first" id="second-house-bar">
                          <div class="bar-label"><span style="font-weight: 600;">1st</span><br>{{houses.0.name}}</div>
                          <div class="bar-number" id="second-house-points">{{houses.0.points}}</div>
                      </div>
                      <div class="bar third" id="third-house-bar">
                          <div class="bar-label"><span style="font-weight: 600;">3rd</span><br>{{houses.2.name}}</div>
                          <div class="bar-number" id="third-house-points">{{houses.2.points}}</div>
                      </div>
                      <div class="bar fourth" id="fourth-house-bar">
                          <div class="bar-label"><span style="font-weight: 600;">4th</span><br>{{houses.3.name}}</div>
                          <div class="bar-number" id="fourth-house-points">{{houses.3.points}}</div>
                      </div>
                  </div>
                    <br>
                    <p style="text-align: center;">
                        We have a winner!
                        <br>
                        <span class="text-muted">Congratulations to {{houses.0.name}} for leading with </span> 
                        {{houses.0.points}} PTS,
                        <span class="text-muted"> you're doing great!</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    Second card
                    <br>
                    Personal house data/charts
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                  <h5>House rankings</h5>
                  <div class="table">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="text-muted th-normal">Rank</th>
                        <th class="text-muted th-normal">House</th>
                        <th class="text-muted th-normal">Score</th>
                        <th class="text-muted th-normal">Members</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for house in houses %}
                        <tr>
                          <td class="text-black-50">{{forloop.counter}}</td>
                          <td>{{house.name}}</td>
                          <td>{{house.points}}</td>
                          <td>{{house.memberCount}}</td>
                        </tr>   
                        {%endfor%}
                    </tbody>
                  </table>
                  </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

  $(document).ready(function() {  
    function max(a, b) {
        return a > b ? a : b;
    }
    
    const barList = [
        {id: '#first-house-bar', points: $('#first-house-points').text()},
        {id: '#second-house-bar', points: $('#second-house-points').text()},
        {id: '#third-house-bar', points: $('#third-house-points').text()},
        {id: '#fourth-house-bar', points: $('#fourth-house-points').text()}
    ];
    
    const totalPoints = barList.reduce((total, bar) => total + parseInt(bar.points), 0);
    const minHeight = 30;
    const scalingFactors = [3, 2.5, 2, 1.5, 1, 0.5];

    for (let factor of scalingFactors) {
        let allBarsFit = true;
        for (let bar of barList) {
            const barHeight = max(bar.points / totalPoints * 100 * factor, minHeight);
            if (barHeight > 100) {
                allBarsFit = false;
                break;
            }
            $(bar.id).css('height', `${barHeight}%`);
        }
        if (allBarsFit) {
            break;
        }
    }
});

</script>