{% load static %}
  <link href="{% static 'css/house-leaderboard-style.css' %}" rel="stylesheet">

  <div class="leaderboard">
    
    
  </div>


  <div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="card mx-auto" style="width: 600px;">
                <div class="card-body">
                    <div class="podium gold">
                        <h6 style="font-weight: bold;">1st Place</h6>
                        <p>{{houses.0.name}}</p>
                        <p>{{houses.0.points}}</p>
                    </div> 
                    <div class="podium silver">
                        <h6 style="font-weight: bold;">2nd Place</h6>
                        <p>{{houses.1.name}}</p>
                        <p>{{houses.1.points}}</p>
                    </div>
                    <div class="podium bronze">
                        <h6 style="font-weight: bold;">3rd Place</h6>
                        <p>{{houses.2.name}}</p>
                        <p>{{houses.2.points}}</p>
                    </div>
                    <div class="podium fourth">
                        <h6 style="font-weight: bold;">4th Place</h6>
                        <p>{{houses.3.name}}</p>
                        <p>{{houses.3.points}}</p>
                    </div>
                </div>

                <br>

                  <p class="leaderboard-text">
                      We have a winning house!
                  </p>
                 
                   <p class="user-text">
                      <span class="black-text">Congratulations to {{houses.0.name}} for leading with </span> 
                      {{houses.0.points}} points,
                      <span class="black-text"> impressive!</span>
                  </p>
                </div>
            </div>
        </div>
        <!--<div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    Second card
                    <br>
                    Personal house data/charts
                </div>
            </div>
        </div> -->
    </div>

    <br>

    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                  <h5>House rankings</h5>
                  <div class="table">
                  <table class="table rounded rounded-3 overflow-hidden">
                    <thead>
                      <tr class="color-table">
                        <th class="th-normal">Rank</th>
                        <th class="th-normal">House</th>
                        <th class="th-normal">Score</th>
                        <th class="th-normal">Members</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for house in houses %}
                        <tr>
                          <td><div{% if forloop.counter0 < 1 %} class="circle-first-podium" {% elif forloop.counter0 < 2 %} class="circle-second-podium"
                            {% elif forloop.counter0 < 3 %} class="circle-third-podium" {% elif forloop.counter0 < 4 %} class="circle-fourth-podium"
                            {% endif %}>{{ forloop.counter }}</th>
                          <td>{{house.name}}</td>
                          <td><div class="rounded text-center p-2 points-rectangle">{{house.points}}</td>
                          <td>{{house.memberCount}}</td>
                        </tr>   
                        {%endfor%}
                    </tbody>
                  </table>
                  </div>
                </div>
            </div>
        </div>
    </div>

</div>
