<!-- This file helps when you need to show mixed charts on a page.
These are charts that show more than one set of data, for example you could
have a line chart on top of a bar chart on a single canvas area -->

<!-- 'num' is passed in to indicate which number of graph we are on, for example if
we are on the second graph of the page, 'num' would be 2 -->
<div id="container{{num}}" style="width: 100%">
  <canvas id="chart{{num}}"></canvas>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

  var config = {
    type: 'line',
    data: {
       datasets: [
       {
           label: 'year',
           {% if hidden %}
           hidden: true,
           {% endif %}
           fill: false,
           borderColor: '#8282DC',
           data: {{ data1|safe }},
           // this dataset is drawn below
           order: 4
       }, {
           label: '6 months',
           {% if hidden %}
           hidden: true,
           {% endif %}
           fill: false,
           borderColor: '#AF82DC',
           data: {{ data2|safe }},
           type: 'line',
           // this dataset is drawn on top
           order: 3
       }, {
           label: '3 months',
           fill: false,
           borderColor: '#DC82DC',
           data: {{ data3|safe }},
           type: 'line',
           // this dataset is drawn on top
           order: 2
       },
       {% if withbar %}
       {
           label: 'bar',
           data: {{ data|safe }},
           type: 'bar',
           // this dataset is drawn on top
           order: 1
       }
       {% endif %}
       ],
       labels: {{ labels|safe }}
   },
    options: {

      responsive: true,
      scales: {
        yAxes: [{
            display: true,
            scaleLabel: {
            display: true,
            labelString: 'Budget used (%)'
          }
        }]
      }

    }
  };

  // fucntion that actually renders and draws the graph
  const myChart{{num}} = new Chart(
  document.getElementById('chart{{num}}'),
  config
);

</script>
