<nav class="top-menu">
    <div class="title">Spending <span>Tracker</span></div>
    {% if user.is_authenticated %}
        <div class="collapse-btn"><i class="bi bi-list"></i></div>
        <ul>
            {% include 'partials/notifications/notificationDropdown.html' %}
            <li>
                <a href="{% url 'logOut' %}" class='logged-in-items'><i class="bi bi-box-arrow-left"></i></a>
            </li>
        </ul>
    {% else %}
        <ul>
            <li>
                <a class="logged-out-items" href="{% url 'signUp' %}">Sign up</a>
            </li>
            <li>
                <a class="logged-out-items" href="{% url 'logIn' %}">Log in</a>
            </li>
        </ul>
    {% endif %}
</nav>