<nav class="top-menu">
    {% if user.is_authenticated %}
        <div class="title">
            <a class="navbar-brand" href="{% url 'home' %}">
                <!--<img src="" alt="" width="50" height="50">-->
                Wallet <span>Wizards</span>
            </a>
            
        </div>
        <div class="collapse-btn"><i class="bi bi-list"></i></div>
        <p style="color: black;" >Points: {{points.count}}</p>  
        <ul>
            {% include 'partials/users/userDropdown.html' %}
            {% include 'partials/notifications/notificationDropdown.html' %}
            <li>
                <a href="{% url 'logOut' %}" class='logged-in-items'><i class="bi bi-box-arrow-left"></i></a>
            </li>
        </ul>
    {% else %}
        <div class="title">
            <a class="navbar-brand" href="{% url 'index' %}">
                <!--<img src="" alt="" width="50" height="50"> -->
                Wallet <span>Wizards</span>
            </a>
            
        </div> 
        <ul>
            <li>
                <a class="logged-out-items-clear" href="{% url 'signUp' %}">Sign up</a>
            </li>
            <li>
                <a class="logged-out-items" href="{% url 'logIn' %}">Log in</a>
            </li>
        </ul>
    {% endif %}
</nav>