{% load static %}
  <link href="{% static 'css/user-leaderboard-style.css' %}" rel="stylesheet">
<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="card mx-auto" style="width: 500px;">
                    <div class="card-body">
                        <div class="bar-chart">
                            <div class="bar second" style="height: 75%;">
                                <p class="place-label">2nd</p>
                                <div class="bar-label">{{users.1.user.username}}</div>
                                <div class="bar-number">{{users.1.pointsNum}}</div>
                            </div> 
                            <div class="bar first" style="height: 100%;">
                                <p class="place-label">1st</p>
                                <div class="bar-label">{{users.0.user.username}}</div>
                                <div class="bar-number">{{users.0.pointsNum}}</div>
                            </div>
                            <div class="bar third" style="height: 50%;">
                                <p class="place-label">3rd</p>
                                <div class="bar-label">{{users.2.user.username}}</div>
                                <div class="bar-number">{{users.2.pointsNum}}</div>
                            </div>
                            <div class="bar four" style="height: 35%;">
                                <p class="place-label">4th</p>
                                <div class="bar-label">{{users.3.user.username}}</div>
                                <div class="bar-number">{{users.3.pointsNum}}</div>
                            </div>
                        </div>
                        <br>
                        <p class="leaderboard-text">
                            We have a winner!
                        </p>
                       
                         <p class="user-text">
                            <span class="black-text">@{{users.0.user.username}} is in the lead with </span> 
                                {{users.0.pointsNum}} points,
                            <span class="black-text"> congrats!</span>
                        </p>
                    </div>
            </div>
        </div>
        <!--<div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    Second card
                    <br>
                    Personal house data/charts
                </div>
            </div>
        </div> -->
    </div>

    <br>

    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5>User rankings</h5>
                    {% include 'partials/users/userList.html' %}
                    <div class="pagination m-l-460">
                        {% if users.has_previous %}
                            <a id="pagination-button" href="?page={{ users.previous_page_number }}" class="m-r-5"><i class="bi bi-arrow-left btn-purple"></i></a>
                        {% endif %}
                        page {{ users.number }} of {{ users.paginator.num_pages }}
                        {% if users.has_next %}
                            <a id="pagination-button" href="?page={{ users.next_page_number }}" class="m-l-5"><i class="bi bi-arrow-right btn-purple"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>