{% load static %}
  <link href="{% static 'css/notifications-style.css' %}" rel="stylesheet">
<div class="modal fade" id="delete-expenditure-modal{{expenditure.id}}" tabindex="-1" aria-labelledby="deleteExpenditureModal{{expenditure.id}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteExpenditureModal{{expenditure.id}}">Delete Expenditure Confirmation</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete {{expenditure.title}}?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <a role="button" class="btn btn-primary" href="{% url 'deleteExpenditure' categoryId=category.id expenditureId=expenditure.id %}">Yes, delete</a>
        </div>
        </div>
    </div>
</div>