<table class="table align-middle bg-white">
    <thead class="bg-light">
        <tr>
            <th>Title</th>
            <th>Amount</th>
            <th>Mood</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for expenditure in expenditures %}
            <tr>
                <td>{{ expenditure.title }}</td>
                <td class="text-muted">-£{{ expenditure.amount }}</td>
                <td>{% include 'partials/expenditures/moodColors.html' with mood=expenditure.mood %}</td>
                <td class="text-muted">{{ expenditure.date }}</td>
                <td>
                    <a class="open-update-modal btn btn-sm btn-outline-dark" style="border-radius: 60px;" data-id="{{ expenditure.id }}" data-category="{{ category.name }}">
                        <i class="bi bi-pencil"></i>
                    </a>                    
                    <a href="{% url 'deleteExpenditure' categoryName=category.name expenditureId=expenditure.id %}" style="border-radius: 60px;" class="btn btn-sm btn-outline-dark" onclick="return confirm('Are you sure you want to delete this expenditure?')">
                        <i class="bi bi-trash3"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>