<table class="table align-middle bg-white">
    <thead class="bg-light">
        <tr>
            <th>Title</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for expenditure in expenditures %}
            <tr>
                <td>{{ expenditure.title }}</td>
                <td class="text-muted">-£{{ expenditure.amount }}</td>

                <td>{% include 'partials/expenditures/moodColors.html' with mood=expenditure.mood %}</td>
                <td class="text-muted">{{ expenditure.date }}</td>
                <td>
                    <a class="open-edit-expenditure-modal btn btn-sm btn-outline-dark" style="border-radius: 60px;" data-expenditure="{{ expenditure.id }}" data-category="{{ category.id }}">
                        <i class="bi bi-pencil"></i>
                    </a>                    
                    <button type="button" class="open-delete-expenditure-modal btn btn-sm btn-outline-dark" style="border-radius: 60px;" data-bs-toggle="modal" data-bs-target="#delete-expenditure-modal{{expenditure.id}}">
                        <i class="bi bi-trash3"></i>
                    </button>
                    {% include 'modals/expenditures/deleteExpenditure.html' with category=category expenditure=expenditure %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>