{% if mood == "happy" %}
<span class="badge happy text-dark">{{ mood }}</span>
{% else %}
    {% if mood == "anxious" %}
        <span class="badge anxious text-dark">{{ mood }}</span>
    {% else %}
        {% if mood == "content" %}
            <span class="badge content text-dark">{{ mood }}</span>
        {% else %}
            {% if mood == "indifferent" %}
                <span class="badge indifferent text-dark">{{ mood }}</span>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}