<div class="container">
    <div class="row">
      <div class="col-12">
        <br>
        <div class="card mb-3">
          <div class="card-body">
            {% include 'partials/users/chat/postsAsTable.html' with posts=posts %}
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <form method="post" action="{% url 'chat' %}">
              {% csrf_token %}
              <div class="form-group">
                <textarea class="form-control" id="text" name="text" rows="3" placeholder="Type your message here..."></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>