{% load static %}
  <link href="{% static 'css/user-leaderboard-style.css' %}" rel="stylesheet">
  <table class="table rounded rounded-3 overflow-hidden">
    <thead>
        <tr class="colorfy">
            <th scope="col" class="th-normal">Rank</th>
            <th scope="col" class="th-normal"></th>
            <th scope="col" class="th-normal">Username</th>
            <th scope="col" class="th-normal">Full Name</th>
            <th scope="col" class="th-normal">House</th>
            <th scope="col" class="th-normal">Points</th>
            <th scope="col" class="th-normal">View</th>
        </tr>
    </thead>
    <tbody>
        {% for i in userPoints %}
        <tr>            
            <th scrope="row"><div{% if i.user == topPoints.0.user %} class="circle-first" {% elif i.user == topPoints.1.user %} class="circle-second"
                {% elif i.user == topPoints.2.user %} class="circle-third" {% elif i.user == topPoints.3.user %} class="circle-fourth"
                {% else %} class="circle-users" {% endif %}>{{ startingNumber|add:forloop.counter }}</th>
                
            <td>
                <img src="{{i.user.miniGravatar }}" alt="Gravatar of {{ i.user.username }}" class="rounded-circle" width="45" height="45">
            </td>
            <td>@{{ i.user.username }}</td>
            <td>{{ i.user.fullName }}</td>
            <td>{{ i.user.house.name}}</td>
            <td><div class="rounded text-center p-2 points-rectangle">{{ i.count }}</div></td>
            <td>
                <a role="button" href="{% url 'showUser' i.user.id %}">
                    <i class="bi bi-eye btn-purple"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>