<!-- A user profile template derived from https://mdbootstrap.com/docs/standard/extended/profiles/-->
{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
{% load static %}
  <link href="{% static 'css/profile.css' %}" rel="stylesheet">

<div class="page-content page-container">
  <div class="padding-profile">
    <div class="row container d-flex justify-content-center">
      <div class="col-sm-1 col-md-9">
        <div class="card user-card-full" style="width: 50rem;height: 30rem;">
          <div class="row m-l-0 m-r-0">
              <div class="col-sm-4 bg-c-lite-green user-profile">
                  <div class="card-block text-center text-white">
                      <div class="m-b-25">
                          <img src="{{ user.gravatar }}" class="rounded-circle mx-1 my-2">
                      </div>
                      <h6 class="f-w-600">{{ user.username }}</h6>
                      {% if user.followerCount == 1 %}
                        <p>{{ user.followerCount }} Follower </p>
                      {% else %}
                        <p>{{ user.followerCount }} Followers </p>
                      {% endif %}
                      <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                  </div>
              </div>
              <div class="col-sm-8">
                  <div class="card-block">
                      <h6 class="m-b-20 p-b-5 b-b-default f-w-600 f-s">Personal Information</h6>
                      <div class="row">
                          <div>
                            <p class="m-b-10 f-w-600">Full Name</p>
                            <h6 class="text-muted f-w-400">{{ user.firstName }} {{ user.lastName }}</h6>
                          </div>
                          <div class="padding">
                            <p class="m-b-10 f-w-600">Username</p>
                            <h6 class="text-muted f-w-400">{{ user.username }}</h6>
                          </div>
                          <div class="padding">
                              <p class="m-b-10 f-w-600">Email</p>
                              <h6 class="text-muted f-w-400">{{ user.email }}</h6>
                          </div>
                      </div>
                  </div>
                  <div class="position-absolute bottom-0 end-10 b-p">
                    <a href="{% url 'showUser' user.id %}" class="button-clear-r">View Followers</a>
                  </div>
                  <div class="position-absolute bottom-0 end-0 b-p">
                    <a href="{% url 'editProfile' %}" class="button-clear">Edit Profile</a>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
