{% extends 'base.html' %}

{% block title %}Scores{% endblock %}

{% block content %}
{% load static %}
  <link href="{% static 'css/scores-style.css' %}" rel="stylesheet">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#user-leaderboard">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#house-leaderboard">Houses</a>
  </li>
</ul>

<div class="tab-content">
  <div id="user-leaderboard" class="tab-pane fade show active">
    <br>
    <h3 class="text-center">User leaderboard</h3>
    <br>
    {% include 'partials/leaderboards/userLeaderboard.html' %}
  </div>
  <div id="house-leaderboard" class="tab-pane fade">
    <br>
    <h3 class="text-center">House leaderboard</h3>
    {% include 'partials/leaderboards/houseLeaderboard.html' %}
  </div>
</div>

<script>
  $(document).ready(function(){
  $(".nav-tabs a").click(function(){
    $(this).tab('show');
  });
});
</script>
{% endblock %}