{% extends 'base.html' %}

{% block title %}Users{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
      <div class="col-12">
      <h4>Users</h4>
      <hr>
      <table class="table align-middle bg-white">
          <thead class="bg-light">
          <tr>
              <th></th>
              <th>Name</th>
              <th>Username</th>
              <th>House</th>
          </tr>
          </thead>
          <tbody>
          {% for user in users %}
              <tr>
                <td>
                    <img src="{{ user.miniGravatar }}" alt="Gravatar of {{ user.username }}" class="rounded-circle" width="50" height="50">
                </td>
                <td>{{ user.fullName }}</td>
                <td><a class="btn-purple" href="{% url 'showUser' user.id %}">@{{ user.username }}</a></td>
                <td>{{user.house.name}}</td>
              </tr>
          {% endfor %}
          </tbody>
      </table>

      {% include 'partials/users/pagination.html' %}

      </div>
  </div>
</div>

{% endblock %}