{% load static %}
  <link href="{% static 'css/house-leaderboard-style.css' %}" rel="stylesheet">

  <div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="card mx-auto" style="width: 600px;">
                <div class="card-body">
                    <div class="bar-chart">
                      <div class="bar-house silver" id="first-house-bar">
                          <div class="bar-label"><span style="font-weight: 600;">2nd</span><br>{{houses.1.name}}</div>
                          <div class="bar-number" id="first-house-points">{{houses.1.points}}</div>
                      </div> 
                      <div class="bar-house gold" id="second-house-bar">
                          <div class="bar-label"><span style="font-weight: 600;">1st</span><br>{{houses.0.name}}</div>
                          <div class="bar-number" id="second-house-points">{{houses.0.points}}</div>
                      </div>
                      <div class="bar-house bronze" id="third-house-bar">
                          <div class="bar-label"><span style="font-weight: 600;">3rd</span><br>{{houses.2.name}}</div>
                          <div class="bar-number" id="third-house-points">{{houses.2.points}}</div>
                      </div>
                      <div class="bar-house fourth" id="fourth-house-bar">
                          <div class="bar-label"><span style="font-weight: 600;">4th</span><br>{{houses.3.name}}</div>
                          <div class="bar-number" id="fourth-house-points">{{houses.3.points}}</div>
                      </div>
                  </div>
                    <br>
                    <p class="leaderboard-text" style="text-align: center;">
                        We have a winner!
                      </p>

                      <p class="user-text">
                        <span class="black-text">Congratulations to {{houses.0.name}} for leading with </span> 
                        {{houses.0.points}} points,
                        <span class="black-text"> you're doing great!</span>
                        </p>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <br>

    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                  <h5>House rankings</h5>
                  <div class="table">
                  <table class="table rounded rounded-3 overflow-hidden">
                    <thead>
                      <tr class="color-table">
                        <th class="th-normal">Rank</th>
                        <th class="th-normal">House</th>
                        <th class="th-normal">Score</th>
                        <th class="th-normal">Members</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for house in houses %}
                        <tr>
                          <td><div{% if forloop.counter0 < 1 %} class="circle-first-podium" {% elif forloop.counter0 < 2 %} class="circle-second-podium"
                            {% elif forloop.counter0 < 3 %} class="circle-third-podium" {% elif forloop.counter0 < 4 %} class="circle-fourth-podium"
                            {% endif %}>{{ forloop.counter }}</th>
                          <td>{{house.name}}</td>
                          <td><div class="rounded text-center p-2 points-rectangle">{{house.points}}</td>
                          <td>{{house.memberCount}}</td>
                        </tr>   
                        {%endfor%}
                    </tbody>
                  </table>
                  </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

  $(document).ready(function() {  
    function max(a, b) {
        return a > b ? a : b;
    }
    
    const barList = [
        {id: '#first-house-bar', points: $('#first-house-points').text()},
        {id: '#second-house-bar', points: $('#second-house-points').text()},
        {id: '#third-house-bar', points: $('#third-house-points').text()},
        {id: '#fourth-house-bar', points: $('#fourth-house-points').text()}
    ];
    
    const totalPoints = barList.reduce((total, bar) => total + parseInt(bar.points), 0);
    const minHeight = 30;
    const scalingFactors = [3, 2.5, 2, 1.5, 1, 0.5];

    for (let factor of scalingFactors) {
        let allBarsFit = true;
        for (let bar of barList) {
            const barHeight = max(bar.points / totalPoints * 100 * factor, minHeight);
            if (barHeight > 100) {
                allBarsFit = false;
                break;
            }
            $(bar.id).css('height', `${barHeight}%`);
        }
        if (allBarsFit) {
            break;
        }
    }
});

</script>