{% load static %}
  <link href="{% static 'css/notifications-style.css' %}" rel="stylesheet">
<div class="modal fade" id="delete-notification-modal{{notification.id}}" tabindex="-1" aria-labelledby="deleteNotificationModal{{notification.id}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteNotificationModal{{notification.id}}">Delete Notification Confirmation</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="text-align: left;">
            Are you sure you want to delete this notification?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-blue-big" data-bs-dismiss="modal">No</button>
            <a role="button" class="btn-purple-big" href="{% url 'deleteNotifications' notificationId=notification.id %}">Yes, delete</a>
        </div>
        </div>
    </div>
</div>