<div class="modal fade" id="expenditureFormModal" tabindex="-1" role="dialog" aria-labelledby="expenditureFormModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="expenditureFormModalLabel">Create Expenditure</h5>
                <button onclick="$('#expenditureFormModal').modal('hide');" class="btn btn-outline">&times;</button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    {% include 'partials/bootstrapForm.html' with form=form %}
                    <button type="submit" class="btn btn-secondary">Create Expenditure</button>
                </form>
            </div>
        </div>
    </div>
</div>