<!--  Modal for delete Category -->
<div class="modal fade" id="deleteCategoryModal" tabindex="-1" aria-labelledby="deleteCategoryModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteCategoryModal">Delete category confirmation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete this category?
            All associated expenditures under this category will also be deleted.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <a role="button" class="btn btn-primary" href="{% url 'deleteCategory' categoryId=category.id %}">Yes, delete</a>
        </div>
      </div>
    </div>
  </div>