<div class="modal fade" id="overall-spending-limit-modal" tabindex="-1" role="dialog" aria-labelledby="overallSpendingLimitModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
                <h5 class="modal-title" id="overallSpendingLimitModal">Set Overall Spending Limit</h5>
                <button onclick="$('#overall-spending-limit-modal').modal('hide');" class="btn btn-outline">&times;</button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="update-form"></div>
                    <button type="submit" class="btn btn-secondary">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>