{% extends 'base.html' %}

{% block title %}{{category.name}}{% endblock %}

{% block content %}
    <h3 id="category-header">{{ category.name }} 
        <button id="openEditCategoryFormModal" class="btn btn-secondary"><i class="bi bi-pencil"></i></i> Edit Category</button>
        <button id="open-create-modal" class="btn btn-secondary"><i class="bi bi-plus-lg"></i> Create Expenditure</button>
    </h3>
    <p><b>Spending Limit</b> {{ category.spendingLimit }}</p>
    <hr>
    <p><b>Expenditure History</b></p>
    <div class="shadow-4 rounded-3 overflow-hidden">
        {% include 'partials/expenditures/expendituresTable.html' with category=category expenditures=expenditures %}
    </div>
    <div class="text-center">
        {% include 'partials/expenditures/pagination.html' with expenditures=expenditures %}
    </div>
   {% include 'modals/expenditures/createForm.html' with form=expenditureForm %} 
   {% include 'modals/expenditures/updateForm.html' with form=expenditureForm %} 
   {% include 'modals/editCategory.html' with form=editCategoryForm %} 

    <script>
            $(document).ready(function() {
            $("#open-create-modal").on("click", function() {
                $("#create-expenditure-modal").modal("show");
            });
            $(".open-update-modal").on("click", function() {
                var expenditureId = $(this).data('id');
                var categoryName = $(this).data('category');
                $.ajax({
                    url: "/category/" + categoryName + "/update/" + expenditureId + "/",
                    success: function(data) {
                        $("form").attr("action", "/category/" + categoryName + "/update/" + expenditureId + "/");
                        $("#update-expenditure-modal .update-form").html(data);
                        $("#update-expenditure-modal").modal("show");
                    }
                });
            });
            $("#openExpenditureFormModal").on("click", function() {
                $("#expenditureFormModal").modal("show");
            });

            $("#openEditCategoryFormModal").on("click", function() {
                $("#editCategoryFormModal").modal("show");
            });
        });
    </script>   
{% endblock %}