{% extends 'base.html' %}

{% block title %}{{category.name}}{% endblock %}

{% block content %}
    <h3 id="category-header">{{ category.name }} 
        <div class="text-end">
            <button id="open-edit-category-modal" class="btn btn-sm btn-outline-dark ms-2">
                <i class="bi bi-pencil"></i>
            </button>
            <button id="open-delete-category-modal" class="btn btn-sm btn-outline-dark ms-2">
                <i class="bi bi-trash3"></i>
            </button>
            <button id="open-share-category-modal" data-category="{{ category.id }}" class="btn btn-sm btn-outline-dark ms-2">
                <i class="bi bi-person-plus"></i>
            </button>
            <button id="open-create-expenditure-modal" class="btn btn-sm btn-outline-dark ms-2">
                <i class="bi bi-plus-lg"></i>
            </button>
        </div>
    </h3>

    <p><b>Spending Limit</b> {{ category.spendingLimit }}</p>
    <hr>
    <p><b>Expenditure History</b></p>
    <div class="shadow-4 rounded-3 overflow-hidden">
        {% include 'partials/expenditures/expendituresTable.html' with category=category expenditures=expenditures %}
    </div>
    <div class="text-center">
        {% include 'partials/expenditures/pagination.html' with expenditures=expenditures %}
    </div>
   {% include 'modals/expenditures/createExpenditure.html' with form=expenditureForm %} 
   {% include 'modals/expenditures/editExpenditure.html' with form=expenditureForm %} 
   {% include 'modals/categories/shareCategory.html' with form=shareCategoryForm %} 
   {% include 'modals/categories/editCategory.html' with form=categoryForm %} 
   {% include 'modals/categories/deleteCategory.html' %} 

    <script>
        $(document).ready(function() {

            // Expenditure modals

            $("#open-create-expenditure-modal").on("click", function() {
                $("#create-expenditure-modal").modal("show");
            });

            $(".open-edit-expenditure-modal").on("click", function() {
                var expenditureId = $(this).data('expenditure');
                var categoryId = $(this).data('category');
                $.ajax({
                    url: "/category/" + categoryId + "/update/" + expenditureId + "/",
                    success: function(data) {
                        $("form").attr("action", "/category/" + categoryId + "/update/" + expenditureId + "/");
                        $("#edit-expenditure-modal .update-form").html(data);
                        $("#edit-expenditure-modal").modal("show");
                    }
                });
            });

            $(".open-delete-expenditure-modal").on("click", function() {
                $("#delete-expenditure-modal").modal("show");
            });

            // Category modals

            $("#open-edit-category-modal").on("click", function() {
                $("#edit-category-modal").modal("show");
            });

            $("#open-delete-category-modal").on("click", function() {
                $("#delete-category-modal").modal("show");
            });

            $("#open-share-category-modal").on("click", function() {
                var categoryId = $(this).data('category');
                $.ajax({
                    url: "/shareCategory/" + categoryId + "/",
                    success: function(data) {
                        $("form").attr("action", "/shareCategory/" + categoryId + "/");
                        $("#share-category-modal .update-form").html(data);
                        $("#share-category-modal").modal("show");
                    }
                });
            });
            
        });
    </script>   
{% endblock %}