{% extends 'base.html' %}

{% block title %}{{category.name}}{% endblock %}

{% block content %}
<h3 id="category-header">{{ category.name }} 
    <div class="text-end">
        <button id="open-edit-category-modal" data-category="{{ category.id }}" class="btn btn-sm btn-outline-dark ms-2">
            <i class="bi bi-pencil"></i>
        </button>
        <button id="open-delete-category-modal" class="btn btn-sm btn-outline-dark ms-2" data-bs-toggle="modal" data-bs-target="#delete-category-modal">
            <i class="bi bi-trash3"></i>
        </button>
        <button id="open-share-category-modal" data-category="{{ category.id }}" class="btn btn-sm btn-outline-dark ms-2">
          <i class="bi bi-person-plus"></i>
        </button>
    </div>
</h3>

<hr>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="card-title">Expenditure History</h5>
                </div>
                <div class="col-auto">
                  <button id="open-create-expenditure-modal" data-category="{{ category.id }}" class="btn btn-outline-dark btn-sm">
                    <i class="bi bi-plus-lg"></i> Add Expenditure
                  </button>
                </div>
              </div>
              <p class="card-text">
                {% include 'partials/expenditures/expendituresTable.html' with category=category expenditures=expenditures %}
                <div class="text-center">
                  {% include 'partials/expenditures/pagination.html' with expenditures=expenditures %}
                </div>
              </p>
            </div>            
          </div>
        </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Category Information</h5>
            <div class="d-flex justify-content-between align-items-center">
              <p class="card-text">Shared with {{ category.users.count|add:"-1" }} users</p>
              <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal" data-bs-target="#shared-users-modal">
                <i class="bi bi-people"></i> View users
              </button>
            </div>
            <hr>
            <p class="card-text">Spending limit: {{ category.spendingLimit }}</p>
            <p class="card-text"><small class="text-muted">Last updated: {{ category.updatedAt|date }}</small></p>
            <div class="progress">
              <div id="spending-progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{category.progress}}" aria-valuemin="0" aria-valuemax="100">{{category.progress}}%</div>
            </div>
            <div class="mt-4">
              <p>Current Progress:</p>
              {% include 'partials/chart.html' %}
              {% include 'analyse.html' %}      
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% include 'modals/expenditures/createExpenditure.html' %} 
{% include 'modals/expenditures/editExpenditure.html' %} 
{% include 'modals/categories/editCategory.html' %}
{% include 'modals/categories/shareCategory.html' %} 
{% include 'modals/categories/deleteCategory.html' %}
{% include 'modals/categories/viewUsersSharingCategory.html' %}

<script>

$(document).ready(function() {

    // Progress bar width

    var progressBar = document.getElementById("spending-progress-bar");
    progressBar.style.width = "{{category.progress}}%";

    // Expenditure modals

    $(".open-edit-expenditure-modal").on("click", function() {
        var expenditureId = $(this).data('expenditure');
        var categoryId = $(this).data('category');
        $.ajax({
            url: "/category/" + categoryId + "/update/" + expenditureId + "/",
            success: function(data) {
                $("form").attr("action", "/category/" + categoryId + "/update/" + expenditureId + "/");
                $("#edit-expenditure-modal .update-form").html(data);
                $("#edit-expenditure-modal").modal("show");
            }
        });
    });

    $("#open-create-expenditure-modal").on("click", function() {
        var categoryId = $(this).data('category');
        $.ajax({
            url: "/createExpenditure/" + categoryId + "/",
            success: function(data) {
                $("form").attr("action", "/createExpenditure/" + categoryId + "/");
                $("#create-expenditure-modal .update-form").html(data);
                $("#create-expenditure-modal").modal("show");
            }
        });
    });

    // Category modals

    $("#open-share-category-modal").on("click", function() {
        var categoryId = $(this).data('category');
        $.ajax({
            url: "/shareCategory/" + categoryId + "/",
            success: function(data) {
                $("form").attr("action", "/shareCategory/" + categoryId + "/");
                $("#share-category-modal .update-form").html(data);
                $("#share-category-modal").modal("show");
            }
        });
    });

    $("#open-edit-category-modal").on("click", function() {
        var categoryId = $(this).data('category');
        $.ajax({
            url: "/editCategory/" + categoryId + "/",
            success: function(data) {
                $("form").attr("action", "/editCategory/" + categoryId + "/");
                $("#edit-category-modal .update-form").html(data);
                $("#edit-category-modal").modal("show");
            }
        });
    });
    
});

</script>  

{% endblock %}