{% extends "base.html" %}

{% block title %}Login {% endblock %}

{% block content %}
    <h1>Edit profile information</h1>

    <form action ="{% url 'editProfile'%}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrapForm.html' with form=form %}
        <!-- <button type="submit" typclass = "btn btn-secondary" > Update Profile </button> -->
        <input type="submit" class="btn btn-outline-secondary btn-sm" value = Update>
        <a href="{% url 'profile' %}" class="btn btn-outline-secondary btn-sm">View Profile</a>
</form>  
{% endblock %}


<!-- <form action="{% url 'signUp' %}" method="post">
    {% csrf_token %}
    {% include 'partials/bootstrapForm.html' with form=form %}
    <input type="submit" value="Sign Up">
</form> -->