{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="home-section">
  <div class="container">
    <div class="row align-items-center">
        <h1 style="text-align: center;">Welcome {{user.firstName}}</h1>
        <h3>Manage your money here!</h3>
        <h3>Your auto id type is {{user.id}}</h3>
      {% if user.id|divisibleby:4 == 0 %}
        <h3> Blue house </h3>
      {% endif %}
      {% include 'partials/chart.html' %}
    </div>
  </div>
</section>

    
{% endblock %}
