{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}


<h3 id="category-header">{{user.fullName}}'s Profile</h3>
<hr>

<div class="container mt-2">
  <div class="row">

    <div class="col-md-4">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Personal Information</h5>
            <div class="card mb-4 p-4 shadow-sm" style="width: 75%; display: grid; grid-template-columns: 1fr 1fr;">
              <div>
                <img class="rounded-circle" src="{{ user.gravatar }}" alt="Gravatar of {{ user.username }}" width="80">
                <p class="card-text">{{ user.followers.count }} followers</p>
              </div>
              <div>
                <p class="card-text"><strong>Full name:</strong> {{ user.fullName }}</p>
                <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
                <p class="card-text"><strong>Username:</strong> {{ user.username }}</p>
              </div>
            </div>
          
            <hr style="width: 75%;">

            <p class="card-text">House Progress:</p>
            <div class="d-flex justify-content-between align-items-center" style="width: 75%;">
              <div class="card mb-3 shadow-sm">
                <div class="card-body">
                  <div class="card-text">
                    <p>Blue House</p>
                    <h4>"general data on users house"</h4>
                    <br>
                    <p>{{user.firstName}}'s Points:</p>
                    <h4>{{points}}</h4>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>

    <div class="col-md-4">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">General Information</h5>

          <div class="d-flex justify-content-between align-items-center" style="width: 75%;">
            <div class="card mb-3 shadow-sm">
              <div class="card-body">
                <div class="card-text">
                  <p>{{month}} {{year}}</p>
                  <h3>£{{user.totalSpentThisMonth}}</h3>
                </div>
              </div>
            </div>
          </div>

          <hr style="width: 75%;">

          <p class="card-text">Category Spending this Month:</p>
        </div>  
      </div>
      <div class="card mb-3 shadow-sm" style="width: 99%">
        {% include 'partials/chart.html' %}
      </div>
    </div>
    <div class="col-md-4">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Category Information</h5>

            <p class="card-text">Total progress:</p>
            <div class="card p-2 shadow-sm" style="width: 350px;">
                <div class="progress">
                  <div id="total-progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" data-progress="{{ user.totalProgress }}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <hr style="width: 75%;">

            <p class="card-text">Category Progress: </p>
            <div class="scrollable-container" style="width: 80%; overflow-y: auto; max-height: 400px;">
              {% for category in user.categories.all %}
                <div class="card mb-3 shadow-sm" style="width: 350px;">
                  <div class="card-body">
                    <h6 class="card-subtitle mb-2">{{ category.name }}</h6>
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" data-category="{{ category.progress }}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script>

  $(document).ready(function() {
  
      // Progress bar width
      $(".progress-bar").each(function() {
        var categoryProgress = $(this).data('category');
        // Set the width of each progress bar
        $(this).width(categoryProgress + "%");
        $(this).html(categoryProgress + "%");

      });

      // Progress bar width
      $("#total-progress-bar").each(function() {
        var totalProgress = $(this).data('progress');
        // Set the width of each progress bar
        $(this).width(totalProgress + "%");
        $(this).html(totalProgress + "%");

      });

  });

</script>

{% endblock %}
