{% extends "base.html" %}

{% block title %}Login {% endblock %}

{% block content %}
    <!-- Adding for loop to display all messages-->
    {% for messsage in messages %}
        <p><b>{{ messsage }}</b></p>
    {% endfor %}

    <div class="content-login">
        <div class="container container-content rounded-corner">
          <div class="row">
            <div class="col-md-6">
              <img src="https://www.linkpicture.com/q/Untitled-design-8_24.png" class="img-fluid img-login-padding">
            </div>
            <div class="col-md-6 contents">
              <div class="row justify-content-center">
                <div class="col-md-8">
                  <div class="mb-4">
                  <h3>Login</h3>
                  <!--<p class="mb-4">Blah blah.</p>-->
                </div>
                <form action="{% url 'logIn' %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/bootstrapForm.html' with form=form %}
                    <input type="submit" value="Log in" class="button">
                </form>
                  
                </div>
              </div>
              
            </div>
            
          </div>
        </div>
      </div>
{% endblock %}
