{% extends 'base.html' %}

{% block title %}Notifications{% endblock %}

{% block content %}
    <h1>Notifications</h1>

    <hr>
    <table class="table align-middle bg-white notification-table">
        <thead class="bg-light">
            <tr>
                <th>Unread Notifications</th>
                <th></th>
        </thead>
        <tbody>
            {% for notification in unreadNotifications %}
                {% include "partials/notifications/markAsReadRow.html" with notification=notification %}
            {% endfor %}
        </tbody>
    </table>

    <table class="table align-middle bg-white notification-table">
        <thead class="bg-light">
            <tr>
                <th class="w-auto">Read Notifications</th>
                <th class="text-end">
                    <a role="button" class="btn btn-outline-secondary btn-sm" href="{% url 'deleteAllNotifications' %}"  style="text-align: center;">Clear All</a>
                </th>
        </thead>
        <tbody>
            {% for notification in readNotifications %}
                {% include "partials/notifications/markAsUnReadRow.html" with notification=notification %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}