
{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-md-3 mb-3">
      <div class="card shadow-sm">
        <img class="card-img-top rounded-circle mx-auto mt-4 w-25" src="{{ user.miniGravatar }}" alt="Gravatar of {{ user.username }}">
        <div class="card-body text-center">
          <h5 class="card-title">{{ user.fullName }}</h5>
          <div class="d-flex justify-content-center mb-3">
            <div class="mr-3">
              <p class="text-secondary m-0"><small>Followers</small></p>
              <h6 class="m-0">{{ user.followers.count }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card shadow-sm">
        <div class="card-body">
          <h4 class="card-title mb-4">Personal Information</h4>
          <p class="card-text"><strong>First name:</strong> {{user.firstName}}</p>
          <p class="card-text"><strong>Last name:</strong> {{user.lastName}}</p>
          <p class="card-text"><strong>Username:</strong> {{user.username}}</p>
          <p class="card-text"><strong>Email:</strong> {{user.email}}</p>
          <hr>
          <a href="{% url 'editProfile' %}" class="btn btn-outline-secondary float-right">Edit Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
