{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="container">
        <div class="row g">
            <h3>Your Profile</h3>
            <div class="col-12">
                <p>First name:</p>
                <p>{{user.first_name}}</p>
                <p>Last name:</p>
                <p>{{user.last_name}}</p>
                <p>Username</p>
                <p>{{user.username}}</p>
                <p>Email:</p>
                <p> {{user.email}}</p>
                
    
            </div>
        </div>
        <a href="{% url 'editProfile' %}" class="btn btn-outline-secondary btn-sm">Edit Profile </a>
    </div>

{% endblock %}