{% extends 'base.html' %}

{% block title %}Reports{% endblock %}


{% block content %}
<h3 id="category-header">Analyse your spendings</h3>
<hr>

<div class="row">
  <div class="card w-25">
    <div class="card-body">
      <h6 class="card-title">Make your selection</h6>
      <form action="{% url 'reports' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type = "submit", class="btn btn-secondary">
      </form>
    </div>
  </div>

  <div class="card w-75 bg-light">
    <div class="card-body">
      <p class="card-text">{{ text }}</p>
      {% include 'partials/chart.html' with num=1 %}
    </div>
  </div>
</div>

<div class = "row">
    <div class="card w-50 bg-light">
      <div class="card-body">
        <p class="card-text">{{ text2 }}</p>
        {% include 'partials/mixedCharts.html' with num=2 %}
      </div>
  </div>

  <div class="card w-50 bg-light">
    <div class="card-body">
      <p class="card-text">{{ text3 }}</p>
      {% include 'partials/mixedCharts.html' with num=3 %}
    </div>
  </div>

</div>


{% endblock %}
