{% extends 'base.html' %}

{% block title %}Users{% endblock %}

{% block content %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="user-tab" data-bs-toggle="tab" data-bs-target="#user" type="button" role="tab" aria-controls="user" aria-selected="true">Users</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="chat-tab" data-bs-toggle="tab" data-bs-target="#chat" type="button" role="tab" aria-controls="chat" aria-selected="false">Chat</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="user" role="tabpanel" aria-labelledby="user-tab">

    {% include 'partials/users/userList.html' with users=users %}

  </div>
  <div class="tab-pane fade" id="chat" role="tabpanel" aria-labelledby="chat-tab">
    
    {% include 'partials/users/postList.html' with posts=posts %}

  </div>
</div>

{% endblock %}