{% for user in users %}
    <div class="user-item">
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td>
                        <img src="{{ user.miniGravatar }}" alt="Gravatar of {{ user.username }}" class="rounded-circle" width="50" height="50">
                    </td>
                    <td>
                        <h6> <strong> @{{user.username}}</strong> </h6>
                        {{user.fullName}}
                    </td>
                    <td>
                        <a role="button" href="{% url 'showUser' user.id %}">
                            <i class="bi bi-eye btn-purple"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="dropdown-divider"></div>
{% endfor %}